/*
  author: Abiodun Q. Adekunle 13/06/2021
  last updated by: Rui Caneira 14/06/2021
  description: Pages styles definition to apply colors/font/appearance styles to page elements.
*/
/* ### Font ### */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ### Document ### */

* {
  box-sizing: border-box;
}

/* Correct the line height in all browsers. */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/pages_background.jpg");
  background-size: cover;
  background-position: center;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* ### Grouping content ### */
/* Remove the gray background on active links. */
a {
  background-color: transparent;
}

/* Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}

/* Remove the border on images inside links. */
img {
  border-style: none;
}

/* ### Page Info Section ### */
#pgInfo {
  padding: 20px 120px;
  background: rgba(18, 44, 52, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: rgb(255, 0, 0);
}

/* ### Header Section ### */
#pgHeader {
  padding: 20px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pgHeader .hdMisc a {
  color: rgb(255, 255, 255);
}

/* ### Navigation Section ### */
#pgNav {
  display: flex;
  justify-content: center;
  background: rgba(18, 44, 52, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 0px;
}

#pgNav a {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 26px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
}

#pgNav a.active {
  color: rgba(255, 255, 255, 1);
}

#pgNav a:hover:not(.active) {
  color: rgba(255, 255, 255, 0.6);
}

#pgMain {
  padding: 60px 120px;
}

/* ### Footer Section ### */
#pgFooter {
  background-image: url("../images/space_warriors_footer_background.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}

#pgFooter .ftLinkContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 120px;
  display: flex;
  justify-content: center;
}

#pgFooter .ftLinkContainer ul {
  margin: 0;
  list-style: none;
  display: flex;
}

#pgFooter .ftLinkContainer ul li {
  padding: 0 26px;
  border-right: 1px solid rgb(255, 255, 255);
}

#pgFooter .ftLinkContainer ul li:last-child {
  border-right: none;
}

#pgFooter .ftLinkContainer ul li a {
  color: rgb(255, 255, 255);
}

#pgFooter .ftInfoContainer {
  padding: 48px 120px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

#pgFooter .ftInfoContainer .ftContact {
  display: flex;
}

#pgFooter .ftInfoContainer .ftContact p {
  padding: 0 26px;
  border-right: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

#pgFooter .ftInfoContainer .ftContact p a {
  color: rgb(255, 255, 255);
}

#pgFooter .ftInfoContainer .ftContact p:last-child {
  border-right: none;
}

/* Rui Caneira */
/* last updated by: Abiodun Q. Adekunle 19/06/2021 */
/* ### Shops page styling ### */
.shopContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

.shopCaption {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.shopItem {
  border-radius: 10px;
  display: block;
  position: relative;
}

.shopItem .shopImgContainer {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  overflow: hidden;
  height: 250px;
  display: block;
}

.shopItem:hover .shopItemDetails {
  background-color: rgb(18, 44, 52);
}

.shopItem:hover .shopImgContainer img {
  filter: grayscale(60%);
}

.shopItem .shopImgContainer img {
  width: 100%;
  height: auto;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shopItem .shopItemDetails {
  background-color: rgba(34, 72, 112, 1);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shopItem .shopItemDetails .shopsItemTitle {
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 20px;
}

.shopItem .shopItemDetails .shopItemdescription {
  color: rgba(255, 255, 255, 0.7);
}

.shopItem .shopItemDetails .shopItemLink {
  color: rgb(78, 165, 217);
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid rgb(78, 165, 217);
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shopItem .shopItemDetails .shopItemLink:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.shopImage {
  align-items: center;
  width: 35%;
  Height: 35%;
}

/* Rui Caneira */
/* Attractions page styling*/
.attractionText{
  color: rgb(255, 255, 0);
  align-items: center;
  font-size:15px;
}
.attractionImage {
  align-items: center;
  width: 40%;
  Height: 40%;
}